<h1> Enter a new bookmark below</h1>
<br>

<form action ="/bookmarks" method= "post">
Title
<input type="text" name ="title">
URL
<input type="text" name="url">
<input type="submit" name="Submit">
</form>