<form action="/bookmarks/<%= @bookmark.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH" />
  URL
  <input type="text" name="url" value="<%= @bookmark.url %>" />
  Title
  <input type="text" name="title" value="<%= @bookmark.title %>" />
  <input type="submit" value="Submit" />
</form>